<%- include('../includes/head.ejs') %>
<style>
  .form-group {
    margin-bottom: 15px;
  }

  .form-group label {
    display: block;
    margin-bottom: 5px;
  }

  .form-control.invalid {
    border-color: #d20404;
  }

  .validation-message {
    color: #d20404;
    margin-top: 5px;
    font-weight: bolder;
  }

  .btn-primary {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }

  .btn-primary:hover {
    background-color: #0056b3;
  }
</style>
</head>

<body>
  <%- include('../includes/navigation.ejs') %>
  <main style="margin-right: 10%; margin-left: 10%; margin-top: 2%;">
    <form method="POST" action="/admin/add-class" onsubmit="return validateForm()">
      <h2><b>Add Class</b></h2>
      <% if (errorMessage) { %>
      <div class="validation-message"><%= errorMessage %></div>
      <% } %>
      <div class="form-group">
        <label for="number">Class Number</label>
        <input type="number" class="form-control <%= validationErrors.find(e => e.param === 'number') ? 'invalid' : '' %>" name="number" id="number" placeholder="Enter class number" value="<%= typeof number !== 'undefined' ? number : '' %>" oninput="validateForm()">
        <span class="validation-message" id="number-error">
          <%= validationErrors.find(e => e.param === 'number') ? validationErrors.find(e => e.param === 'number').msg : '' %>
        </span>
      </div>

      <button type="submit" class="btn btn-primary">Add Class</button>
      <a href="/admin/classes" class="btn btn-primary">View Classes</a>
    </form>
  </main>

  <%- include('../includes/end.ejs') %>
</body>
<script>
  function validateForm() {
    let number = document.getElementById('number').value;
    let numberCheck = /^([1-9]|1[0-2])$/;

    document.getElementById('number-error').innerHTML = "";
    document.getElementById('number').classList.remove('invalid');

    let isValid = true;

    if (!numberCheck.test(number)) {
      document.getElementById('number-error').innerHTML = "Invalid Class Number! Please enter a number between 1 to 12.";
      document.getElementById('number').classList.add('invalid');
      isValid = false;
    }

    return isValid;
  }

  window.addEventListener('pageshow', function(event) {
    if (event.persisted) {
      location.reload(true);
    }
  });
</script>