<%- include('../includes/head.ejs') %>
<style>
  @import url("https://fonts.googleapis.com/css?family=Mukta:600");

  * {
    box-sizing: border-box;
  }

  *::before,
  *::after {
    box-sizing: border-box;
  }

  button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0 30px 0 50px;
    font-size: inherit;
    font-family: inherit;
    height: auto;
  }

  button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    margin: 0;
    left: 0;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 1.625rem;
    border-color: inherit;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    background: rgb(16, 87, 138);
    background: linear-gradient(90deg,
        rgba(16, 87, 138, 1) 0%,
        rgba(1, 169, 203, 1) 100%);
  }

  button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
  }

  button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.375rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
    border-color: inherit;
  }

  button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.25rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);

  }

  button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    line-height: 1;
    text-align: center;
    color: #fff;
    font-weight: 600;
    text-align: center;
  }

  button:hover .circle {
    width: 100%;
    color: white;
  }

  button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
  }

  button:hover .button-text {
    color: #fff;
  }
</style>

<body>
  <%- include('../includes/navigation.ejs') %>
  <section class="vh-100 gradient-custom-2">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-10 col-lg-8 col-xl-6">
          <div class="card card-stepper" style="border-radius: 16px;">
            <div class="card-header p-4">
              <h5 class="bold"><%= teacher.name %></h5>
              <div class="d-flex justify-content-between align-items-center"></div>
            </div>
            <div class="card-body p-4">
              <div class="d-flex flex-row mb-4 pb-2">
                <div class="flex-fill">
                  <h5>Email</h5>
                  <p class="text-muted"><%= teacher.email %></p>
                  <h5>Country Code</h5>
                  <p class="text-muted"><%= teacher.code %></p>
                  <h5>Phone Number</h5>
                  <p class="text-muted"><%= teacher.number %></p>




                </div>



              </div>
              <div id="container" style="margin-left: 90%; width: 300px;">
                <button class="learn-more">
                  <a href="/admin/teachers" class="circle" aria-hidden="true">
                    <span class="icon arrow"></span>
                  </a>
                  <a href="/admin/teachers" class="button-text">All Teachers! </a>
                </button>
              </div>

            </div>

          </div>

        </div>
      </div>


  </section>

</body>
<script>
  window.addEventListener('pageshow', function(event) {
    if (event.persisted) {
      location.reload(true);
    }
  });
</script>